

@{
    ViewBag.Title = "Lịch sử đọc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<string, string> dictionary = ViewBag.History;
}

@for (int i = 0; i < dictionary.Count; i++)
{
    <p>@dictionary.Keys.ElementAt(i)</p>
    <p>@dictionary[dictionary.Keys.ElementAt(i)]</p>
}