
@{
    ViewBag.Title = "Đăng nhập";
}
<form action="@Url.Action("Login", "User")" method="post">
    <input type="email" name="mail" required="required">
    <input type="password" name="password" id="">
    <input type="submit" value="Guiwr">
</form>