@{
    ViewBag.Title = "Đăng nhập";
    String mss = ViewBag.Mss;
}

<div class="bg-main main">
    <div class="signup-form">
        <form action="@Url.Action("Login")" method="post">
            <h4>Đăng nhập</h4>

            @if (mss != null)
            {
                <div class="alert alert-warning alert-danger fade show" role="alert">
                    <strong>Lỗi!</strong> @mss.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            
            <div class="form-group row">
                <input type="email" class="form-control" name="mail" placeholder="Email" required="required">
            </div>
            <div class="form-group row">
                <input type="password" class="form-control" name="password" placeholder="Mật khẩu" required="required">
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-success btn-lg btn-block">Đăng nhập</button>
            </div>
        </form>
        <div class="text-center">
            <p class="mt-2">Bạn chưa có tài khoản? <a href="@Url.Action("Registration")" class="text-info">Đăng ký</a></p>
            <p class="mt-2">Bạn quên mật khẩu? <a href="@Url.Action("ForgotPassword")" class="text-info">Lấy lại mật khẩu</a></p>
        </div>
    </div>
</div>