<div class="slide-main">
    <div class="owl-carousel owl-theme">


        <div class="item-slide">
            <div class="item-main">
                <a href="qqq">
                    <img src="http://cdn4.lhmanga.com/Store/Manga/onii-chan-wa-oshimai_5e5624064d19e.jpg" class="img-fluid" alt="">
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                </a>
            </div>

            <div class="name-comic text-light mt-1">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>
        <div class="item-slide">
            <div class="item-main">
                <a href="qqq">
                    <img src="http://cdn4.lhmanga.com/Store/Manga/BOKUTACHI_WA_5d655a002669a.jpg" class="img-fluid" alt="">
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                </a>
            </div>

            <div class="name-comic text-light mt-1">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>   <div class="item-slide">
            <div class="item-main">
                <a href="qqq">
                    <img src="http://cdn4.lhmanga.com/Store/Manga/onii-chan-wa-oshimai_5e5624064d19e.jpg" class="img-fluid" alt="">
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                </a>
            </div>

            <div class="name-comic text-light mt-1">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>
        <div class="item-slide">
            <div class="item-main">
                <a href="qqq">
                    <img src="http://cdn4.lhmanga.com/Store/Manga/BOKUTACHI_WA_5d655a002669a.jpg" class="img-fluid" alt="">
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                </a>
            </div>

            <div class="name-comic text-light mt-1">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>   <div class="item-slide">
            <div class="item-main">
                <a href="qqq">
                    <img src="http://cdn4.lhmanga.com/Store/Manga/onii-chan-wa-oshimai_5e5624064d19e.jpg" class="img-fluid" alt="">
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                </a>
            </div>

            <div class="name-comic text-light mt-1">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>
        <div class="item-slide">
            <div class="item-main">
                <a href="qqq">
                    <img src="http://cdn4.lhmanga.com/Store/Manga/BOKUTACHI_WA_5d655a002669a.jpg" class="img-fluid" alt="">
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                </a>
            </div>

            <div class="name-comic text-light mt-1">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>   <div class="item-slide">
            <div class="item-main">
                <a href="qqq">
                    <img src="http://cdn4.lhmanga.com/Store/Manga/onii-chan-wa-oshimai_5e5624064d19e.jpg" class="img-fluid" alt="">
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                </a>
            </div>

            <div class="name-comic text-light mt-1">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>
        <div class="item-slide">
            <div class="item-main">
                <a href="qqq">
                    <img src="http://cdn4.lhmanga.com/Store/Manga/BOKUTACHI_WA_5d655a002669a.jpg" class="img-fluid" alt="">
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                </a>
            </div>

            <div class="name-comic text-light mt-1">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>   <div class="item-slide">
            <div class="item-main">
                <a href="qqq">
                    <img src="http://cdn4.lhmanga.com/Store/Manga/onii-chan-wa-oshimai_5e5624064d19e.jpg" class="img-fluid" alt="">
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                </a>
            </div>

            <div class="name-comic text-light mt-1">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>
        <div class="item-slide">
            <div class="item-main">
                <a href="qqq">
                    <img src="http://cdn4.lhmanga.com/Store/Manga/BOKUTACHI_WA_5d655a002669a.jpg" class="img-fluid" alt="">
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                </a>
            </div>

            <div class="name-comic text-light mt-1">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>


    </div>
</div>