<div class="slide-main">
    <div class="owl-carousel owl-theme">

        <div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg bg-img-full" url-bg="https://truyentranhlh.net/storage/images/raw/e660b55d-bf01-4d0b-85be-de4b7e54acb0.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg bg-img-full" url-bg="https://truyentranhlh.net/storage/images/raw/e660b55d-bf01-4d0b-85be-de4b7e54acb0.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg bg-img-full" url-bg="https://truyentranhlh.net/storage/images/raw/e660b55d-bf01-4d0b-85be-de4b7e54acb0.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg bg-img-full" url-bg="https://truyentranhlh.net/storage/images/raw/e660b55d-bf01-4d0b-85be-de4b7e54acb0.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg bg-img-full" url-bg="https://truyentranhlh.net/storage/images/raw/e660b55d-bf01-4d0b-85be-de4b7e54acb0.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg bg-img-full" url-bg="https://truyentranhlh.net/storage/images/raw/e660b55d-bf01-4d0b-85be-de4b7e54acb0.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg bg-img-full" url-bg="https://truyentranhlh.net/storage/images/raw/e660b55d-bf01-4d0b-85be-de4b7e54acb0.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg bg-img-full" url-bg="https://truyentranhlh.net/storage/images/raw/e660b55d-bf01-4d0b-85be-de4b7e54acb0.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg bg-img-full" url-bg="https://truyentranhlh.net/storage/images/raw/e660b55d-bf01-4d0b-85be-de4b7e54acb0.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg bg-img-full" url-bg="https://truyentranhlh.net/storage/images/raw/e660b55d-bf01-4d0b-85be-de4b7e54acb0.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg bg-img-full" url-bg="https://truyentranhlh.net/storage/images/raw/e660b55d-bf01-4d0b-85be-de4b7e54acb0.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg bg-img-full" url-bg="https://truyentranhlh.net/storage/images/raw/e660b55d-bf01-4d0b-85be-de4b7e54acb0.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>
        <div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg bg-img-full" url-bg="https://truyentranhlh.net/storage/images/raw/e660b55d-bf01-4d0b-85be-de4b7e54acb0.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>



    </div>
</div>