<div class="slide-main">
    <div class="owl-carousel owl-theme">

        <div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/mushoku-tensei-isekai-ittara-honki-dasu_1552633535_5da4916e956b9.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/mushoku-tensei-isekai-ittara-honki-dasu_1552633535_5da4916e956b9.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/mushoku-tensei-isekai-ittara-honki-dasu_1552633535_5da4916e956b9.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/mushoku-tensei-isekai-ittara-honki-dasu_1552633535_5da4916e956b9.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/mushoku-tensei-isekai-ittara-honki-dasu_1552633535_5da4916e956b9.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/mushoku-tensei-isekai-ittara-honki-dasu_1552633535_5da4916e956b9.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/mushoku-tensei-isekai-ittara-honki-dasu_1552633535_5da4916e956b9.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/mushoku-tensei-isekai-ittara-honki-dasu_1552633535_5da4916e956b9.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/mushoku-tensei-isekai-ittara-honki-dasu_1552633535_5da4916e956b9.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/mushoku-tensei-isekai-ittara-honki-dasu_1552633535_5da4916e956b9.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/mushoku-tensei-isekai-ittara-honki-dasu_1552633535_5da4916e956b9.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div><div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/mushoku-tensei-isekai-ittara-honki-dasu_1552633535_5da4916e956b9.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>
        <div class="item-slide">
            <div class="item-main">
                <a href="#">
                    <div class="img-cover">
                        <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/mushoku-tensei-isekai-ittara-honki-dasu_1552633535_5da4916e956b9.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="ádvghasd"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </a>
            </div>
            <div class="name-comic text-light">
                <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>



    </div>
</div>