/*add font*/
@font-face {
    font-family: Annual;
    src: url(Font/Annual.ttf);
    font-style: normal;
}

@font-face {
    font-family: AnnualBold;
    font-weight: bold;
    src: url(Font/Annual_Bold.ttf);
}

@font-face {
    font-family: NunitoSansBold;
    src: url(Font/NunitoSans-Bold.ttf);
    font-weight: bold;
}


/*all*/

/** {*/
/*    margin: 0 auto;*/
/*    padding: 0;*/
/*}*/

body {
    background-image: url("../Upload/background/bg.jpg");
    background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-size: 16px;
}

a {
    color: #f0f0f0;
}

a:hover {
    text-decoration: none;
    color: #f0f0f0;
}

h2 {
    color: #f0f0f0;
    font-size: 34px;
    font-family: Annual, 'Merriweather Sans', Arial, Helvetica, sans-serif;
}

h2:after {
    display: block;
    width: 100%;
    content: "";
    height: 1px;
    position: relative;
    bottom: -10px;
    background: #01dfff;
}

.name-comic.text-light {
    margin-top: 10px;
}

.col-lg-2.col-sm-3.col-6 {
    margin-top: 10px;
}

.bg-main {
    background: rgb(35, 37, 38);
    background: linear-gradient(90deg, rgba(35, 37, 38, 1) 0%, rgba(65, 67, 69, 1) 100%);
}

/*   Css home/index   */

.main.bg-main {
    padding: 30px 20px 30px 20px;
    margin-top: 25px;
}

.item-main {
    position: relative;
    margin-top: 20px;
    height: 240px;
    overflow: hidden;
}

.item-main img {
    height: 100%;
}

.new-chapter {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 5px;

}

.new-chapter a {
    color: #f0f0f0;
    font-weight: bold;
}

.name-comic {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-weight: bold;
}
a.page-link {color: #212529;}

a.page-link.active {
    color: #01dfff;
}

nav.page {
    margin-top: 15px;
}

ul.pagination.justify-content-end {
    outline: none;
}
.page-link:hover{
    color: #01dfff;
}
.chpter-hot {
    position: absolute;
    top: 0px;
    color: #f1f1f1;
    background: red;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 5px;
    font-weight: bold;
}
/*slide*/
.slide.bg-main {
    padding: 30px 20px 25px 20px;
}

.slide-main .item-slide .item-main {
    overflow: hidden;
    height: 290px;


}

.slide-main .item-slide .item-main img {
    height: 100%;
}

.slide-main {
    margin-top: 20px;
}

button.owl-dot {
    outline: none;
}
/*responsive*/


@media (max-width: 756px) {
    .item-main {
        height: 210px;
    }

    .slide-main .item-slide .item-main {
        height: 235px;

    }
}

@media (max-width: 576px) {
    .item-main {
        height: 185px;
    }

    .slide-main .item-slide .item-main {
        height: 210px;

    }
}