@{
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <style type="text/css" media="screen">
            h1{
                font-size: 120px;
            }
            .col.text-center.rela {
                position: relative;
                top: 50%;
                right: 50%;
                transform: translate(50%,50%)
            }
            .btn.btn-success{
                margin-top: 1em;
                padding: 15px;
                font-size: 23px;
            }
        </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col text-center rela">
            <h1 class="font-weight-bold mb-5 fontbold">404</h1>
            <p class="h1 mb-5">Không tồn tại trang này</p>
            <a href="@Url.Action("Index", "Home")" class="btn btn-success">Quay chở lại trang chủ</a>
        </div>
    </div>
</div>

</body>
</html>