
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form action="index" method="post">
        <input type="file" name="file">
        <input type="submit" value="dăng">
    </form>
</div>
</body>
</html>