@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="comic-cover">
    <div class="row">
        <div class="col-md">
            <div class="detail-comic bg-main">
                <div class="row">
                    <div class="col-md-3">
                        <div class="comic-item">
                            <a href="/Comic?comicId=1">
                                <div class="item-main">
                                    <div class="img-cover">
                                        <div class="img-bg bg-img-full" url-bg="https://upload.wikimedia.org/wikipedia/vi/6/6b/B%C3%ACa_truy%E1%BB%87n_Doraemon_t%E1%BA%ADp_1_1992-2009_VN.jpg" style="background-image: url(&quot;https://upload.wikimedia.org/wikipedia/vi/6/6b/B%C3%ACa_truy%E1%BB%87n_Doraemon_t%E1%BA%ADp_1_1992-2009_VN.jpg&quot;);"></div>
                                    </div>
                                    <div class="chpter-hot">
                                        Hot
                                    </div>
                                </div>
                            </a>
                        </div>
                        <button type="button" class="last-chapter">
                            <a href="">Chap mới nhất</a>
                        </button>
                    </div>
                    <div class="col-md-9">
                        <div class="content-comic">
                            <h4>
                                Doremon
                            </h4>
                            <span class="category">Thể loại</span>
                            <div class="cover-type">
                                <div class="type-comic">
                                    <a href="">Hanh dong</a>
                                </div>
                                <div class="type-comic">
                                    <a href="">Hanh dong</a>
                                </div>
                                <div class="type-comic">
                                    <a href="">Hanh dong</a>
                                </div> <div class="type-comic">
                                    <a href="">Hanh dong</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>