@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="comic-cover">
    <div class="row">

        <div class="col-12">

            <div class="comic bg-main">
                <div class="row detail-comic">
                    <div class="col-md-3">
                        <div class="comic-item">
                            <a href="">
                                <div class="item-main">
                                    <div class="img-cover">
                                        <div class="img-bg bg-img-full" url-bg="https://upload.wikimedia.org/wikipedia/vi/6/6b/B%C3%ACa_truy%E1%BB%87n_Doraemon_t%E1%BA%ADp_1_1992-2009_VN.jpg" style="background-image: url(&quot;https://upload.wikimedia.org/wikipedia/vi/6/6b/B%C3%ACa_truy%E1%BB%87n_Doraemon_t%E1%BA%ADp_1_1992-2009_VN.jpg&quot;);"></div>
                                    </div>
                                    <div class="chpter-hot">
                                        Hot
                                    </div>
                                </div>
                            </a>
                        </div>
                        <button type="button" class="last-chapter">
                            <a href="">Chap mới nhất</a>
                        </button>
                    </div>
                    <div class="col-md-9">
                        <div class="content-comic">
                            <h4>
                                Doremon
                            </h4>
                            <span class="properti-comic">Thể loại: </span>

                            <div class="cover-type">

                                <a href="">
                                    <span class="type-comic">Hanh động</span>
                                </a>
                                <a href="">
                                    <span class="type-comic">Hanh động</span>
                                </a>
                                <a href="">
                                    <span class="type-comic">Hanh động</span>
                                </a>
                                <a href="">
                                    <span class="type-comic">Hanh động</span>
                                </a>
                                <a href="">
                                    <span class="type-comic">Hanh động</span>
                                </a>
                                <a href="">
                                    <span class="type-comic">Hanh động</span>
                                </a>

                            </div>

                            <span class="properti-comic">Tác giả:</span>

                            <span class="properti-comic">Trạng thái:</span>

                        </div>
                        <div class="cover-rating">

                        </div>
                    </div>
                </div>
                <div class="extra-comic">
                    <div class="row">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-12 name-extra">Cập nhật</div>
                                <div class="col-12 content-extra ">12adasd</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-12 name-extra">Đánh giá</div>
                                <div class="col-12 content-extra ">12adasd</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-12 name-extra">Lượt xem</div>
                                <div class="col-12 content-extra ">12adasd</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="store-comic">
                    <div class="row">
                        <div class="col-12">
                            <h4>Tóm tắt</h4>
                            <p>ahsdjhajhdjkahdjkahdjkahjkdhajkhdhajkhd</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-chapter bg-main">
                <div class="row">
                    <div class="col-12">
                        <h4>Danh sách chương</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>