<footer class="container-fluid bg-main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <p>Designed by: Hanabi</p>
                <p>Coding by: Trung, Sang, Long</p>
            </div>
            <div class="col-md-6 col-12 text-md-right ">
                <p>Liên hệ: nguyenkientrung0412@gmail.com</p>
            </div>
        </div>
    </div>
</footer>