<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="~/Upload/Logo/logo.png">

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sarabun">
    <link rel="stylesheet" href="~/Content/jquery-confirm.min.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/mystyle.css">

</head>
<body >
@{
    Html.RenderAction("_Navbar", "Category");
}

<div class="container container-main">

    @RenderBody()

</div>


<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/boostrap.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="~/Scripts/slide.js"></script>
<script src="~/Scripts/load-bg.js"></script>

</body>
</html>