@using Model.EF

<div class="tab">
    <h2>Thể loại</h2>
    <div class="form-search">
        <div class="part-type">

            @foreach (category category in ViewBag.Data)
            {
                <label class="check">
                    @category.NameCategory
                    <input type="checkbox" name="category" value="@category.CategoryId" data-check="0">
                    <span></span>
                </label>
            }
        </div>

    </div>

</div>