@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <div class="col-lg-2 col-sm-3 col-6">

        <div class="item-main">
            <div class="img-cover">
                <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/HIMOUTO!_UMARU-CHAN_5d7497a781d02.jpg"></div>
            </div>
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
            <div class="chpter-hot">
                Hot
            </div>
        </div>
        <div class="name-comic text-light">
            <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
        </div>
    </div> <div class="col-lg-2 col-sm-3 col-6">

        <div class="item-main">
            <div class="img-cover">
                <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/HIMOUTO!_UMARU-CHAN_5d7497a781d02.jpg"></div>
            </div>
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
            <div class="chpter-hot">
                Hot
            </div>
        </div>
        <div class="name-comic text-light">
            <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
        </div>
    </div> <div class="col-lg-2 col-sm-3 col-6">

        <div class="item-main">
            <div class="img-cover">
                <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/HIMOUTO!_UMARU-CHAN_5d7497a781d02.jpg"></div>
            </div>
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
            <div class="chpter-hot">
                Hot
            </div>
        </div>
        <div class="name-comic text-light">
            <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
        </div>
    </div> <div class="col-lg-2 col-sm-3 col-6">

        <div class="item-main">
            <div class="img-cover">
                <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/HIMOUTO!_UMARU-CHAN_5d7497a781d02.jpg"></div>
            </div>
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
            <div class="chpter-hot">
                Hot
            </div>
        </div>
        <div class="name-comic text-light">
            <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
        </div>
    </div> <div class="col-lg-2 col-sm-3 col-6">

        <div class="item-main">
            <div class="img-cover">
                <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/HIMOUTO!_UMARU-CHAN_5d7497a781d02.jpg"></div>
            </div>
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
            <div class="chpter-hot">
                Hot
            </div>
        </div>
        <div class="name-comic text-light">
            <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
        </div>
    </div> <div class="col-lg-2 col-sm-3 col-6">

        <div class="item-main">
            <div class="img-cover">
                <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/HIMOUTO!_UMARU-CHAN_5d7497a781d02.jpg"></div>
            </div>
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
            <div class="chpter-hot">
                Hot
            </div>
        </div>
        <div class="name-comic text-light">
            <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
        </div>
    </div> <div class="col-lg-2 col-sm-3 col-6">

        <div class="item-main">
            <div class="img-cover">
                <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/HIMOUTO!_UMARU-CHAN_5d7497a781d02.jpg"></div>
            </div>
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
            <div class="chpter-hot">
                Hot
            </div>
        </div>
        <div class="name-comic text-light">
            <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
        </div>
    </div> <div class="col-lg-2 col-sm-3 col-6">

        <div class="item-main">
            <div class="img-cover">
                <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/HIMOUTO!_UMARU-CHAN_5d7497a781d02.jpg"></div>
            </div>
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
            <div class="chpter-hot">
                Hot
            </div>
        </div>
        <div class="name-comic text-light">
            <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
        </div>
    </div> <div class="col-lg-2 col-sm-3 col-6">

        <div class="item-main">
            <div class="img-cover">
                <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/HIMOUTO!_UMARU-CHAN_5d7497a781d02.jpg"></div>
            </div>
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
            <div class="chpter-hot">
                Hot
            </div>
        </div>
        <div class="name-comic text-light">
            <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
        </div>
    </div> <div class="col-lg-2 col-sm-3 col-6">

        <div class="item-main">
            <div class="img-cover">
                <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/HIMOUTO!_UMARU-CHAN_5d7497a781d02.jpg"></div>
            </div>
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
            <div class="chpter-hot">
                Hot
            </div>
        </div>
        <div class="name-comic text-light">
            <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
        </div>
    </div> <div class="col-lg-2 col-sm-3 col-6">

        <div class="item-main">
            <div class="img-cover">
                <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/HIMOUTO!_UMARU-CHAN_5d7497a781d02.jpg"></div>
            </div>
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
            <div class="chpter-hot">
                Hot
            </div>
        </div>
        <div class="name-comic text-light">
            <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
        </div>
    </div> <div class="col-lg-2 col-sm-3 col-6">

        <div class="item-main">
            <div class="img-cover">
                <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/HIMOUTO!_UMARU-CHAN_5d7497a781d02.jpg"></div>
            </div>
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
            <div class="chpter-hot">
                Hot
            </div>
        </div>
        <div class="name-comic text-light">
            <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
        </div>
    </div> <div class="col-lg-2 col-sm-3 col-6">

        <div class="item-main">
            <div class="img-cover">
                <div class="img-bg" url-bg="http://cdn4.lhmanga.com/Store/Manga/HIMOUTO!_UMARU-CHAN_5d7497a781d02.jpg"></div>
            </div>
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
            <div class="chpter-hot">
                Hot
            </div>
        </div>
        <div class="name-comic text-light">
            <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
        </div>
    </div>


</div>
<nav aria-label="Page navigation example" class="page">
    <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                <i class="fas fa-chevron-left"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link active" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">
                <i class="fas fa-chevron-right"></i>
            </a>
        </li>
    </ul>
</nav>