@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Slide *@
<div class="slide bg-main ">

    <h2>Chuyện hot</h2>

    <div class="slide-main">
        <div class="owl-carousel owl-theme">

            <div class="item-slide">
                <div class="item-main">
                    <a href="#">
                        <div class="img-cover">
                            <div class="img-bg bg-img-full" url-bg="https://truyentranhlh.net/storage/images/raw/e660b55d-bf01-4d0b-85be-de4b7e54acb0.jpg"></div>
                        </div>
                        <div class="new-chapter">
                            <a href="ádvghasd"> Chap 14</a>
                        </div>
                        <div class="chpter-hot">
                            Hot
                        </div>
                    </a>
                </div>
                <div class="name-comic text-light">
                    <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
                </div>
            </div>

        </div>
    </div>

</div>

@* main *@
<div class="main bg-main">

    <h2>Truyện mới cập nhật</h2>

    <div class="row">

        <div class="col-lg-2 col-sm-3 col-6">
            <a href="@Url.Action("Index", "Comic", new {comicId = 1})">
                <div class="item-main">
                    <div class="img-cover">
                        <div class="img-bg bg-img-full" url-bg="https://cdn.myanimelist.net/images/manga/2/183208l.jpg"></div>
                    </div>
                    <div class="new-chapter">
                        <a href="@Url.Action("Index", "Chapter", new {chapterId = 99})"> Chap 14</a>
                    </div>
                    <div class="chpter-hot">
                        Hot
                    </div>
                </div>
            </a>
            <div class="name-comic text-light">
                <a href="@Url.Action("Index", "Comic", new {comicId = 1})">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
            </div>
        </div>

    </div>

    @* paging *@
    <nav aria-label="Page navigation example" class="page">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link active" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </nav>

</div>