@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a href="@Url.Action("Index","UploadFile")">Upload</a>

@* <table id="data" class="table table-hover " style="width:100%"> *@
@* *@
@* <thead> *@
@* <tr> *@
@*     <th>Id thể loại</th> *@
@*     <th>Tên thể loại</th> *@
@* </tr> *@
@* </thead> *@
@* <tbody> *@
@* <tr> *@
@*     <th></th> *@
@*     <th></th> *@
@* </tr> *@
@* </tbody> *@
@* <tfoot> *@
@* <tr> *@
@*     <th>Id thể loại</th> *@
@*     <th>Tên thể loại</th> *@
@* </tr> *@
@* </tfoot> *@
@* </table> *@