@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>

    <form action="@Url.Action("Index", "Home")" method="post" enctype="multipart/form-data">
        <input type="file" name="files" accept="image/*" multiple>
        <input type="submit" value="dăng">
    </form>


    @ViewBag.Message

</div>
</body>
</html>