@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-2 col-sm-3 col-6">
    <div class="item-main">
        <a href="qqq">
            <img src="https://truyentranhlh.net/storage/images/raw/5633b3a0-5fd9-4515-bb3f-6c4f56e5cb31.jpg" class="img-fluid" alt="">
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
        </a>
    </div>

    <div class="name-comic text-light mt-1">
        <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
    </div>
</div>
<div class="col-lg-2 col-sm-3 col-6">
    <div class="item-main">
        <a href="qqq">
            <img src="https://truyentranhlh.net/storage/images/raw/5633b3a0-5fd9-4515-bb3f-6c4f56e5cb31.jpg" class="img-fluid" alt="">
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
        </a>
    </div>

    <div class="name-comic text-light mt-1">
        <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
    </div>
</div><div class="col-lg-2 col-sm-3 col-6">
    <div class="item-main">
        <a href="qqq">
            <img src="https://truyentranhlh.net/storage/images/raw/5633b3a0-5fd9-4515-bb3f-6c4f56e5cb31.jpg" class="img-fluid" alt="">
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
        </a>
    </div>

    <div class="name-comic text-light mt-1">
        <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
    </div>
</div><div class="col-lg-2 col-sm-3 col-6">
    <div class="item-main">
        <a href="qqq">
            <img src="https://truyentranhlh.net/storage/images/raw/5633b3a0-5fd9-4515-bb3f-6c4f56e5cb31.jpg" class="img-fluid" alt="">
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
        </a>
    </div>

    <div class="name-comic text-light mt-1">
        <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
    </div>
</div><div class="col-lg-2 col-sm-3 col-6">
    <div class="item-main">
        <a href="qqq">
            <img src="https://truyentranhlh.net/storage/images/raw/5633b3a0-5fd9-4515-bb3f-6c4f56e5cb31.jpg" class="img-fluid" alt="">
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
        </a>
    </div>

    <div class="name-comic text-light mt-1">
        <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
    </div>
</div><div class="col-lg-2 col-sm-3 col-6">
    <div class="item-main">
        <a href="qqq">
            <img src="https://truyentranhlh.net/storage/images/raw/5633b3a0-5fd9-4515-bb3f-6c4f56e5cb31.jpg" class="img-fluid" alt="">
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
        </a>
    </div>

    <div class="name-comic text-light mt-1">
        <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
    </div>
</div><div class="col-lg-2 col-sm-3 col-6">
    <div class="item-main">
        <a href="qqq">
            <img src="https://truyentranhlh.net/storage/images/raw/5633b3a0-5fd9-4515-bb3f-6c4f56e5cb31.jpg" class="img-fluid" alt="">
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
        </a>
    </div>

    <div class="name-comic text-light mt-1">
        <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
    </div>
</div><div class="col-lg-2 col-sm-3 col-6">
    <div class="item-main">
        <a href="qqq">
            <img src="https://truyentranhlh.net/storage/images/raw/5633b3a0-5fd9-4515-bb3f-6c4f56e5cb31.jpg" class="img-fluid" alt="">
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
        </a>
    </div>

    <div class="name-comic text-light mt-1">
        <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
    </div>
</div><div class="col-lg-2 col-sm-3 col-6">
    <div class="item-main">
        <a href="qqq">
            <img src="https://truyentranhlh.net/storage/images/raw/5633b3a0-5fd9-4515-bb3f-6c4f56e5cb31.jpg" class="img-fluid" alt="">
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
        </a>
    </div>

    <div class="name-comic text-light mt-1">
        <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
    </div>
</div><div class="col-lg-2 col-sm-3 col-6">
    <div class="item-main">
        <a href="qqq">
            <img src="https://truyentranhlh.net/storage/images/raw/5633b3a0-5fd9-4515-bb3f-6c4f56e5cb31.jpg" class="img-fluid" alt="">
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
        </a>
    </div>

    <div class="name-comic text-light mt-1">
        <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
    </div>
</div><div class="col-lg-2 col-sm-3 col-6">
    <div class="item-main">
        <a href="qqq">
            <img src="https://truyentranhlh.net/storage/images/raw/5633b3a0-5fd9-4515-bb3f-6c4f56e5cb31.jpg" class="img-fluid" alt="">
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
        </a>
    </div>

    <div class="name-comic text-light mt-1">
        <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
    </div>
</div><div class="col-lg-2 col-sm-3 col-6">
    <div class="item-main">
        <a href="qqq">
            <img src="https://truyentranhlh.net/storage/images/raw/5633b3a0-5fd9-4515-bb3f-6c4f56e5cb31.jpg" class="img-fluid" alt="">
            <div class="new-chapter">
                <a href="ádvghasd"> Chap 14</a>
            </div>
        </a>
    </div>

    <div class="name-comic text-light mt-1">
        <a href="qqq">Sẽ Chết, Nếu Không Nói Lời Yêu</a>
    </div>
</div>