@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

/*all*/

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    transition: all 0.3s;

}

body {
    background-image: url("../Upload/Config/bg.jpg");
    background-repeat: repeat;


}

h1, h2, h3, h4, h5, h6, p, a, span, label, td, tr, th {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #f1f1f1;
    line-height: 1.5;

}


dl, ol, ul, p {
    list-style-type: none;
    margin: 0;
}


a {
    color: #f0f0f0;
}

.p-fix {
    position: fixed;
}

a:hover {
    text-decoration: none;
    color: #f0f0f0;
}

h2 {
    color: #f0f0f0;
    font-size: 34px;
}

h2:after, h3:after, .task-sort:after {
    display: block;
    width: 100%;
    content: "";
    height: 1px;
    position: relative;
    bottom: -10px;
    background: #01dfff;
}

.name-comic.text-light {
    line-height: 1.2;
    margin-top: 10px;
}

.col-lg-2.col-sm-3.col-6 {
    margin-top: 10px;
}

.bg-main {
    background: linear-gradient(90deg, rgba(35, 37, 38, 1) 0%, rgba(65, 67, 69, 1) 100%);
    color: #f1f1f1;
}

/*   Css home/index   */

.main.bg-main, .tab.bg-main, .completed {
    padding: 25px 20px 25px 20px;
    margin-top: 25px;
}


.new-chapter {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;

    background: rgb(153, 153, 153);
    background: -moz-linear-gradient(180deg, rgba(153, 153, 153, 0.7) 0%, rgba(18, 18, 18, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(153, 153, 153, 0.7) 0%, rgba(18, 18, 18, 1) 100%);
    background: linear-gradient(180deg, rgba(153, 153, 153, 0.7) 0%, rgb(18, 18, 18) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#999999", endColorstr="#121212", GradientType=1);

}

.new-chapter a {
    color: #f0f0f0;
    font-weight: bold;
}

.name-comic {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

a.page-link {
    color: #212529;
}

a.page-link.active {
    color: #01dfff;
}

nav.page {
    margin-top: 15px;
}

ul.pagination.justify-content-end {
    outline: none;
}

.page-link:hover {
    color: #01dfff;
}

.chpter-hot {
    position: absolute;
    top: 0;
    color: #f1f1f1;
    background: red;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 5px;
    font-weight: bold;
}

.item-main {
    margin-top: 20px;
    position: relative;
    line-height: 1.5;
}

.img-cover {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-cover:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 140%;
}

.img-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}


/*slide*/
.slide.bg-main {
    margin-top: 25px;
    padding: 30px 20px 25px 20px;
}


.slide-main {
    margin-top: 20px;
}

button.owl-dot {
    outline: none;
}

.bg-img-full {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

/*nav*/


nav.navbar.navbar-expand-lg.navbar-light.container-fluid.bg-nav .container {
    position: relative;
}

.nav-link a {
    margin: 0;
    color: #FFFFFF !important;
}

a.page-link {
    color: #01dfff;
}

.container-fluid.bg-nav {
    background-color: #007f8d;
    z-index: 60;
    top: 0;
}

a.nav-link {
    color: #f1f1f1 !important;
    cursor: pointer;
}

.nav-item .nav-link {
    padding: 8px 15px !important;
}

a#show-category:after {
    content: "\f35f";
    font-family: "Ionicons";
    right: -5px;
    position: relative;
}

input.form-control.ip-search, button.btn.btn-white.my-2 {
    overflow: hidden;
    border: none;
    box-shadow: none;
}

button.btn.btn-white.my-2 {
    margin: 0 !important;
    position: absolute;
    right: 0;
    background: #fff;
    z-index: 99;
    border-radius: 5px;
}

form.form-inline.my-2.my-lg-0 {
    position: relative;
}

input.form-control.ip-search {
    position: relative;
    width: 100%;
}

.list-category {
    position: absolute;
    background: azure;
    width: 100%;
    z-index: 30;
    overflow: hidden;
    display: none;
}

.menu-category {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -25px;
}

.item-category {
    padding: 10px 0;
    text-align: center;
}

.item-category a:after {
    display: block;
    height: 80%;
    content: "";
    top: 10%;
    right: 0;
    bottom: 0;
    width: 1px;
    position: absolute;
    background: #01dfff;
}

.item-category a {
    color: black;
}

.item-category a:hover {
    color: rgba(29, 57, 255, 0.7);
    transition: all 0.3s;
}


/*detail comic*/
.comic-cover {
    margin-top: 25px;
}

h3 {
    font-size: 20px;
}

.detail-comic, .content-comic, .store-comic, .list-chapter {
    padding: 20px 20px;
}

button.last-chapter {
    box-shadow: none;
    background: #007f8d;
    border-radius: 5px;
    height: 10%;
    margin-top: 15px;
    position: relative;
    width: 100%;
    padding: 5px;
    transition: all 0.3s;
}

button.last-chapter {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 5px;
}

button.last-chapter:hover {
    color: #fff;
    background: rgba(255, 39, 7, 0.6);
}

h4 {
    font-size: 28px;
    color: aliceblue;
}

.cover-type {
    display: inline-block;
}

.type-comic {
    margin: 0 5px 10px 5px;
    display: inline-block;
    background: cadetblue;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
}

a .type-comic:hover {
    background: rgba(255, 39, 7, 0.6);

}

.properti-comic {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.comic {
    position: relative;
}

.extra-comic:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(253, 126, 20, 0.67);
    height: 2px;
    width: 100%;
}

.extra-comic:before, .list-chapter h4:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(253, 126, 20, 0.67);
    height: 2px;
    width: 100%;
}

.name-extra {
    padding: 10px 0;
    color: #a0a0a0;
}

.content-extra {
    padding-bottom: 15px;
    color: #f1f1f1;
}

.extra-comic {
    position: relative;
    text-align: center;
}

.store-comic .row .col-12 {
    max-height: 148px;
    margin-bottom: 20px;
    overflow: hidden;
}

.list-chapter {
    margin-top: 25px;
}

.list-chapter h4 {
    position: relative;
    padding-bottom: 15px;
}

.show-list-chapter {
    padding: 0;
    margin: 0;
    max-height: 500px;
    overflow-y: auto;
}

/*luu y*/

ul.list-chapters {

    list-style-type: none;
}

ul.list-chapters li {
    position: relative;
    transition: all 0.3s;
    border-radius: 5px;
    margin: 12px 0;
    padding: 7px 5px;
}


ul.list-chapters li:hover {
    background: #007f8d;
}


.name-chapter {
    left: 0;
    display: inline-block;
    padding-left: 10px;
}

.time-at-chapter {
    position: absolute;
    display: inline-block;
    right: 0;
    padding-right: 10px;
}

/*het luu y*/

/*checkbox 3 trạng thái */
.form-search {
    margin-top: 25px;
    font-size: 18px;
}

.check {
    position: relative;
    cursor: pointer;
    display: block;
    margin: 15px 10px 15px 0;
    padding-left: 1.2rem;
    line-height: 1;
    color: #FFFFFF;
}

.check:hover > span {
    opacity: 0.8;
}


.check input[type=checkbox] {
    opacity: 0;
    position: absolute;
}

.check span {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background: rgba(234, 234, 234, 0.64);
    color: #fff;
    text-align: center;

}

.check span:before {
    font-family: "Ionicons";
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    transition: all 0.3s;

}

.check input[data-check = "1"] ~ span:before {
    content: "\f122";
    color: #01dfff;

}

.check input[data-check = "0"] ~ span:before {
    content: "";
}

.check input[data-check = "-1"] ~ span:before {
    content: "\f129";
    color: rgba(208, 0, 0, 1);

}

/*name ajax search*/

.form-search input[type=text] {
    position: relative;
    width: 100%;
}

.form-search input[type=text]:focus {
    border: none;
    overflow: hidden;
    box-shadow: none;
}

.form-search {
    overflow: hidden;
}

.max-h-370 {
    transition: all 0.5s;
    max-height: 370px;
}

span.more, .more-comic {
    float: right;
    right: 0;
    cursor: pointer;
    color: #01dfff;
    font-size: 13px;
}

span.more:after, .more-comic:after {
    position: relative;
    content: "\f35f";
    left: 5px;
    font-family: "Ionicons";
}

/*footer*/

footer {
    padding-top: 25px;
    margin-top: 25px;
}

/*chapter*/
.completed {
    margin-bottom: 25px;
    border-radius: 5px;
}

.completed ul {
    list-style-type: none;
    display: inline-flex;

}

.completed ul li {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.completed ul li:after {
    content: "\f125";
    color: #01dfff;
    font-family: "Ionicons";
    position: absolute;
    right: -20px;
    bottom: 50%;
    transform: translate(0, 50%);
}

.completed ul li:nth-last-child(1):after {
    content: "";
}

.completed ul li a {
    font-size: 20px;
}

.img-main img {
    margin-bottom: 5px;
}

footer.container-fluid.bg-main {
    padding-bottom: 20px;
}

.list-read-chapter {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
}
.list-read-chapter ul{
    margin: 20px 0;
}

.list-read-chapter ul li {
    padding: 8px 10px;
    border-radius: 5px;
    margin: 10px;
}

.list-read-chapter ul li.active{
    background: #007f8d;
}

.list-read-chapter ul li:hover {
    background: #007f8d;
}


    /*.list-chapters ul li a{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

#nav-bottom {
    display: block;
    background: #006882;
    position: fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
    width: 100%;
}

#nav-bottom ul li {
    padding: 5px 20px;
}

#nav-bottom ul li:hover i {
    color: #fd7e14;
}

/*#nav-bottom{*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    z-index: 99;*/
/*}*/

/*text editer*/
textarea#comment {
    resize: none;
    background: rgb(68, 68, 68);
    color: #FFFFFF;
}

.cover-comment {
    margin-top: 25px;
    padding: 10px 5px 25px 5px;
}

button.float-right.btn-cmt {
    margin-top: 10px;
    padding: 5px 15px;
    color: #fff;
    background: #007f8d;
    border: #000000 solid 1px;
    border-radius: 5px;
}

/*cmt*/

.avatar {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    display: block;
}

.task-sort {
    margin-top: 25px;
}

/*slidebar*/
#sidebar-wrapper {
    min-height: 100vh;
    transition: margin .25s ease-out;
}

#sidebar-wrapper a.nav-link.active {
    background: #007f8d;
}

#sidebar-wrapper a.nav-link {
    margin-bottom: 10px;
    padding: 12px 0 12px 15px;
    transition: all 0.3s;
}

#sidebar-wrapper a.nav-link:hover {
    background: #007f8d;
}

#sidebar-wrapper .sidebar-heading a {
    font-size: 28px;
}

#sidebar-wrapper .sidebar-heading {
    text-align: center;
    padding: 10px 0;
}

#sidebar-wrapper .list-group {
    width: 14rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}


button#menu-toggle {
    color: #fff;
}

button#menu-toggle:focus {
    box-shadow: none;
}


#sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -14rem;
}

/*user*/
.cover.bg-main {
    padding: 20px 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.profile-avatar {
    left: 50%;
    position: relative;
    max-width: 50%;
    text-align: center;
    transform: translate(-50%, 0);
}

.avatar-profile {
    display: block;
}

.role.bg-main {
    text-align: center;
}

.role.bg-main p {
    margin-top: 15px;
    font-size: 24px;
}

.from-add-comic {
    margin-top: 25px;
}

nav.navbar.bg-main {
    z-index: 99;
}

/*table*/
.data-table.bg-main {
    margin-top: 25px;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
    overflow: hidden;
    padding: 5px;
}

span.jconfirm-title {
    color: black;
}

tr td span {
    content: '\f216';
    left: 50%;
    top: 0;
    font-family: "Ionicons";
    position: absolute;
    transform: translate(-50%, 80%);
    font-size: 24px;
    color: #fd7e14;
    cursor: pointer;
    transition: all 0.3s;
}

tr td span:hover {
    color: rgba(253, 126, 20, 0.73);
}

.detail-show ul li {
    margin-top: 13px;
    margin-bottom: 13px;
    line-height: 1.5;
}


/*.table-dark.table-hover tbody tr:nth-child(2n):hover{*/
/*    background: #343a40;*/
/*}*/