@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@ViewBag.Mss
<form action="@Url.Action("UploadChapterImage", "UploadFile")" method="post" enctype="multipart/form-data">

    <input type="file" name="files" multiple>
    <input type="submit" value="dăng">

</form>